.delete-button {
    margin-left: 10px;
    background-color: #ebeaea;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.delete-button:hover {
    background-color: #cc0000;
}

.download-container {
 border: black solid 1px;
 border-radius: 20px;
 padding: 10px;
 font-family:"Prompt", sans-serif;
}
.download-link{
    text-decoration: none;
    background-color: #ffffff;
}
.download-link:hover{
    background-color: black;
    color: #ffffff;
}